* {
    font-family: 'Shantell Sans', cursive;
}

body {
    background: url("/static/img/back_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.right-menu {
    float: right;
}

.container {
    max-width: 1000px !important;
}

.card-margin {
    margin-top: 42px;
}

.card-margin-product {
    margin-top: 20px;
}

.green {
    background: #1b7a72;
    border-color: #1b7a72;
}

.card-padding {
    padding-top: 15px;
}

.card-padding-bottom {
    padding-bottom: 15px;
}

.small-text {
    font-size: 13px;
}

.edit-buttons{
    width: 90px;
}

.edit-buttons-detail{
    width: 105px;
}

.margin-right-red {
    margin-right: 20px;
}

.margin-right-blue {
    margin-right: 10px;
}

.padding-category {
    padding-top: 7px;
}

.margin-bottom-buttons {
    margin-bottom: 15px;
}

.card-text-bt {
        margin-bottom: 7px;
}

.green-tp {
    margin-top: 5px;
}

.image-margin {
    margin-top: 39px;
}

.title-delete {
    margin-bottom: 20px;
}

.white {
    color: white;
}

.black {
    color: black;
}

.search-button {
    margin-left: 15px;
    padding-bottom: 29px;
}

.search-form {
    height: 24px;
    margin-left: 5px;
}

.basket-button {
    margin-top: 4px;
    margin-left: 10px;
}

.remainder-text{
    margin-top: 6px;
}


.basket-add-form > div > input {
    width: 130px;
    margin-left: -6px;
}

.add-button {
    margin-left: 15px;
    height: 38px;
}

.basket-add-form {
    margin-top: 10px;
    margin-bottom: 1px;
    margin-left: 6px;
}

.not-find {
    padding-left: 11px;
    padding-top: 7px;
}

.table-number {
    width: 15%;
}

.table-sum {
    padding-left: 20px !important;
}

.table-delete {
    margin-bottom: -20px;
}

.table-h2 {
    margin-top: 10px;
}

.order-form {
    margin-top: 10px;
}