{% extends 'base.html' %}
{% block title %}Добавление товара{% endblock %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-7 card text-bg-dark card-padding">
                <div class="form">
                    <h3>Добавить новый товар</h3>
                    <form action="{% url 'products_add' %}" method="post">
                        {% include 'partial/create_and_update_form.html' with button_text='Создать' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}