{% extends 'base.html' %}

{% block title %}Детальная информация{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center card-margin">
            <div class="col-8 card text-bg-dark">
                <div class="row card-padding">
                    <div class="col-6 image-margin">
                        <img src="{{ product.image }}" class="img-fluid" alt="{{ product.name }}">
                    </div>
                    <div class="col-6">
                        <h2>
                            {{ product.name }}
                        </h2>
                        <p class="small-text">
                            {{ product.category }}
                        </p>
                        <p>
                            <b>
                                Price: {{ product.coast }}$
                            </b>
                        </p>
                        <p>
                            {{ product.description }}
                        </p>
                        <div class="row">
                            <div class="col-5">
                                <p class="remainder-text">
                                    Осталось: {{ product.balance }}шт.
                                </p>
                            </div>
                            <div class="col-5">
                                <form action="{% url 'basket_add_product' product.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class='btn btn-outline-success '>В корзину</button>
                                </form>
                            </div>
                        </div>
                        <p class="small-text">
                            added: {{ product.added_at }}
                        </p>
                        <div class="row margin-bottom-buttons">
                            <div class="col-5">
                                <a class="btn btn-primary edit-buttons-detail"
                                   href="{% url 'product_edit' product.pk %}"
                                   role="button">Изменить</a>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-danger" href="{% url 'product_delete' product.pk %}" role="button">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}